<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGS2ed-CtAxjmZ2Ck2D_EoeFw-86x9oxY</string>
	<key>GCM_SENDER_ID</key>
	<string>720641448163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dearEmbeiu</string>
	<key>PROJECT_ID</key>
	<string>dear-embeiu</string>
	<key>STORAGE_BUCKET</key>
	<string>dear-embeiu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720641448163:ios:ef531e259fa0df6acb4dd6</string>
</dict>
</plist>